
.thumbnail-article-card {
	width: calc(33% - 8px);
	display: inline-flex;
	flex-direction: column;
	border-radius: 0px;
	border: 1px solid rgb(210, 210, 210);
	transition: 0.3s all ease-in;
	align-items: center;
	background-color: #ffffff;
}

.thumbnail-article-card:hover {
	border-color: rgb(175, 175, 175);
	background: rgba(45, 40, 190, 0.3);
	cursor: pointer;
}

.thumbnail-article-card:hover .thumbnail-article-title {
	color: #000000;
}

.thumbnail-article-image-holder {
	width: 100%;
	padding: 10px 5px;
	max-height: 256px;
}

.thumbnail-article-image-holder img {
	display: block;
	width: 100%;
	max-width: 256px;
	height: auto;
	max-height: 256px;
	object-fit: contain;
	margin: 0 auto;
	text-align: center;
}

.thumbnail-article-title {
	text-align: center;
	margin: 5px 0;
	padding: 0 5px;
	color: #222222;
}


.thumbnail-article-description {
	font-size: 14px;
	margin: 10px 5px 5px 5px;
	color: #555555;
	overflow: hidden;
	padding: 0 8px;
}

@media (max-width: 991px) {
	.thumbnail-thumbnail-article-card {
		width: calc(50% - 5px);
	}
}

@media (max-width: 767px) {
	.thumbnail-thumbnail-article-card {
		width: calc(100% - 5px);
	}
}